<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.inteam.touristo.feature.post_creation">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".root.ui.PostCreationActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
